
<div class="learn">
<h3 class="headerText">Tutorials</h3>


<p class="headerText">Check out these tutorials selected for you by AppleJuiceKid! No matter what type of music
software you're looking for or your budget, we've got you covered.</p>

<% @tutorials.each do |tutorial| %>

<div class="tut">

  <h2><a href="<%=tutorial.link%>"><%=tutorial.name%></a></h2>
  <p><%=tutorial.description%></p>
  <div class="youtube">
    <iframe width="600" height="500"
  src="https://www.youtube.com/embed/<%=tutorial.link.partition("=").last.partition("&").first%>"
  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
  </iframe>

  </div>
</div>
<%end%>
</div>
