

<%= react_component 'Social' %>

<!-- InstaWidget -->
<a href="https://instawidget.net/v/user/beatmakinglab" id="link-fb6ced248caade7507706b30c6b4b5c9445333ef0a0802a5e91366bddbfdc9b1">@beatmakinglab</a>
<script src="https://instawidget.net/js/instawidget.js?u=fb6ced248caade7507706b30c6b4b5c9445333ef0a0802a5e91366bddbfdc9b1&width=500px"></script>rails 