// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.micropost {
  border: #fff 2px solid;
  margin: 15px;
  border-radius: 25px;
  padding: 9px;
  box-shadow: 5px 7px 5px 5px #ddd;
  background:#eee;
   background: linear-gradient(#fff, #eee);
  color:#000;
}

.voting {
  font-size:2.3em;
  text-align: right;
}
